<h1>My Tasks:</h1>
<% @tasks.each do |task| %>
  <ul class="list-unstyled p-2">
    <li><% if task.completed == false %>
    <span><i class="far fa-square"></i></span>
    <% else %>
    <span><i class="far fa-check-square"></i></span>
    <% end %>
    <%= link_to task.title, task_path(task) %>
    <%= link_to task_path(task) , method: :delete, data: { confirm: "Do you want to delete #{task.title}" } do %>
    <i class="fas fa-trash-alt"></i>
    <% end %>
    </li>
  </ul>
<% end %>
<br>
<p class="p-2"><%= link_to "Add a new task", new_task_path %></p>
